[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responder = {editable = true, git = "https://github.com/kennethreitz/responder.git"}

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.7"
